<ul class="items">
</ul>

<form class="input-append">
  <input type="color" id="color" placeholder="color?" value="#94B3E8">
  <button type="button" id="create" class="btn btn-primary">Add color to sunrise</button>
</form>
