
<form class="input-append">
    <input type="color" id="color" placeholder="color?" value="#94B3E8">
    <input type="text" id="time" placeholder="time" value="11">
    <button type="button" id="create" class="btn btn-primary" >Create</button>
</form>

<ul class="items">

</ul>
