<div class="colorstop" data-id="<%= id %>" style="background-color: <%= color %>">
  <input type="color" value="<%= color %>" />
  <button type="button" class="btn btn-default btn-xs remove">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
  <button type="button" class="btn btn-default btn-xs lights">
    <span class="glyphicon glyphicon-flash"></span>
  </button>
</div>
