<h1>i am the collection</h1>
<form class="input-append">
    <input type="text" id="color" placeholder="color?">
    <input type="text" id="time" placeholder="time">
    <input type="text" id="name" placeholder="name me">
    <input type="submit" class="btn" value="Submit">
</form>

<ul class="items">

</ul>
