<div class="colorstop" data-id="<%= id %>">
  <span class="indicator" style="background-color: <%= color %>"></span>
  <span class="name"><%= name %></span>
  <span class="time"><%= time %></span>
  <button type="button" class="btn btn-danger btn-xs remove">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
</div>
