<ul class="items">
</ul>

<form class="input-append">
  <input type="text" id="color" class="new-color" value="#94B3E8" name="new-color" class="pick-a-color form-control">
  <button type="button" id="create" class="btn btn-primary">Add color to sunrise</button>
</form>
