<form class="input-append">
    <input type="text" id="color" placeholder="color?" value="green">
    <input type="text" id="time" placeholder="time" value="11">
    <input type="text" id="name" placeholder="name me" value="Nameless">
    <button type="button" id="create" class="btn btn-primary" >Create</button>
</form>

<ul class="items">

</ul>
