
<button type="button" id="reset-to-defaults" class="btn" >Reset</button>
<button type="button" id="clear" class="btn" >Clear</button>
<button type="button" class="animate-btn btn btn-default">Animate</button>
