<div class="modal-backdrop" style="display: none">
  <div class="modal-preview">

    <div class="controls" style="display: none">
      <button type="button" class="replay btn btn-xs btn-default">
        <span class="glyphicon glyphicon-repeat"></span>
      </button>
      <button type="button" class="dismiss btn btn-xs btn-default">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
</div>

