body {
    background: #fafafa;
}

.colorstop {
  height: 80px;
  padding: 5px;
}

.colorstop .indicator {
  width: 10em;
  height: 1em;
  display: inline-block;
}

.items {
  padding-left: 0;
  width:  50;
}

.modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.87);
  top: 0;
}

.modal-preview {
  position: absolute;
  width: 90%;
  height: 90%;
  margin: 5%;
  background-color: #00A000;
  border-radius: 20px;
}

.modal-preview .controls {
  position: absolute;
  top: 10px;
  right: 10px;
}

#sunrise {
  width: 8000px;
  height: 500px;
}

#main-controls {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
